.Banner{
    padding: 100px 150px;
    background-image: url('../../img/banner.webp');
    background-size: cover;
    font-size: 2.6rem;
    font-family: montserrat;
    
    span{
        color: #D8541C;
    }
}

@media screen and (max-width: 768px){
    .Banner{
        padding: 50px 20px;
        font-size: 1.9rem;

    }
}